body {
  background-image: url("Images/sky.png");
  background-repeat: no-repeat;
  color: #666666;
  font-family: Arial, Verdana, sans-serif;
}

header {
  background-color: #00B386;
  color: #FFFFFF;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

main {
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#wrapper {
  text-align: center;
  width: 80%;
  background-color: #FFFFFF;
  min-width: 900px;
  max-width: 1500px;
  box-shadow: 4px 4px 4px #133926; 

h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Georgia, Times New Roman, serif; 
}

nav {
  background-color: #70DBDB;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
}

h2 {
  color: #00664D;
  text-shadow: 1px 1px #CCCCCC;
  font-family: Georgia, Times New Roman, serif;
}

h3 {
  font-family: Georgia, Times New Roman, serif;
}

ul {
  background-image: url("Images/marker.gif");
}

footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: Georgia, Times New Roman, serif;
  padding: 15px;
}

dt {
  color: #00664D;
}

.barn {
  color: #70DBDB;
  font-weight: bold;
}

#contact {
  font-size: 90%;
}

#heroHome {
  height: 300px;
  background-size: cover; 
  background-image: url("Images/sunsetHorse.png");
}

#heroBoard {
  height: 300px;
  background-size: cover; 
  background-image: url("Images/fenceline.png");
}

#heroTraining {
  height: 300px;
  background-size: cover;
  background-image: url("Images/BayBella.png");
}
