body {
  background-color: white;
  color: dark gray
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: green;
  color: white
  400% line-height and 1em text-indent. 
}
nav {
  background-color:turquoise blue;
   text-decoration: none). 
}
h1 {
  background-color:tyrian purple;
  margin-bottom: 0;
}
